.ingredient-list-wrapper {
  padding-block: 20px;
  background-color: var(--CLR-bg-fourth);
  min-height: 100vh;
}

.ingredient-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ingredient-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ingredient-list-title {
  font-size: 25px;
}

.ingredient-add-btn {
  background-color: var(--CLR-item);
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.ingredient-add-btn:hover {
  background-color: var(--CLR-item-hover);
}

.ingredient-search {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.ingredient-search:focus {
  outline: none;
  border: 2px solid var(--CLR-item);
}

.ingredient-list-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

/* GRID layout */
.ingredient-grid {
  display: grid;
  /* grid-template-columns: 150px 220px 260px 280px 260px 100px; */
  grid-template-columns: repeat(6, 1fr);
  padding: 12px 0;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
}

.ingredient-grid.header {
  font-weight: 600;
  border-bottom: 2px solid #d1d1d1;
}

.ingredient-grid.item:hover {
  background-color: var(--CLR-bg-fifth);
}

/* Status colors */
.status {
  width: fit-content;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.status.available {
  background: #ddfce1;
  color: var(--CLR-success);
}

.status.out-of-stock {
  background: #ffdede;
  color: var(--CLR-failed);
}

/* Action buttons */
.actions {
  display: flex;
  gap: 10px;
}

.btn-icon {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon.detail {
  background: #e7f1ff;
  color: var(--CLR-doing);
}

.btn-icon.edit {
  background: #fff3e6;
  color: #d97706;
}

.btn-icon:hover {
  opacity: 0.8;
}
