.notfound-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.notfound-title {
  text-align: center;
  font-size: 80px;
}

.notfound-content {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.back-btn {
  cursor: pointer;
}

.back-btn:hover {
  text-decoration: underline;
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .notfound-title {
    font-size: 100px;
  }

  .notfound-content {
    font-size: 50px;
  }
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
